[build]
  command = "npm install && npm run build"
  publish = "dist"

[[redirects]]
  from = "/de"
  to = "/de/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
